<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336852068661-n8eujn4e471mvjje1j1f1ghribgaag7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336852068661-n8eujn4e471mvjje1j1f1ghribgaag7d</string>
	<key>API_KEY</key>
	<string>AIzaSyAA0KXGUWtle7R17OjAIFt0zqqt1z_J8IE</string>
	<key>GCM_SENDER_ID</key>
	<string>336852068661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pressler.oauth.firebase.sample</string>
	<key>PROJECT_ID</key>
	<string>softvisionvegas</string>
	<key>STORAGE_BUCKET</key>
	<string>softvisionvegas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336852068661:ios:3c76be5247a869d228c47c</string>
	<key>DATABASE_URL</key>
	<string>https://softvisionvegas.firebaseio.com</string>
</dict>
</plist>
